# .gitignore

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.ipynb_checkpoints/
.DS_Store
*.log
*.pth
*.pt
*.onnx
*.zip

# Data folders
raw/
processed/
results/
checkpoints/

# Editor
.vscode/
.idea/
